//! **************************************************************************
// Written by: Map P.15xf on Fri Jan 20 12:46:12 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "sck" LOCATE = SITE "C5" LEVEL 1;
COMP "miso" LOCATE = SITE "E6" LEVEL 1;
COMP "mosi" LOCATE = SITE "D5" LEVEL 1;
COMP "ss_n" LOCATE = SITE "D6" LEVEL 1;
COMP "reset" LOCATE = SITE "L14" LEVEL 1;
COMP "start" LOCATE = SITE "L13" LEVEL 1;
COMP "tierra<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "tierra<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "tierra<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "tierra<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "display<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "display<1>" LOCATE = SITE "N16" LEVEL 1;
COMP "display<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "display<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "display<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "display<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "display<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "display<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "buttons<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "buttons<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "buttons<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "buttons<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "buttons<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "buttons<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "buttons<7>" LOCATE = SITE "K13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN start_IBUF_pins<1> = BEL "start_IBUF" PINNAME OUT;
PIN "start_IBUF_pins<1>" TIG;
SCHEMATIC END;

